/asalSayiMi
/atmProjesi
/burcHesabi
/buyukKucukSayilar
/ciftSayiBulma
/ciftSayiYazma
/donguler
/fibonacciSayilari
/ilkDers
/javaPatikasi
/karsilastirmaOperatorleri
/kdvHesaplama
/kullaniciGirisi
/metotlar
/notOrtalamaHesabıSwichle
/notOrtalamasıHesaplaöa
/palindromSayi
/recursiveMetotlar
/sayiBulmaca
/scanner
/ucakBileti
/vucutKitleEndeksiHesabi